<div class="container-fluid" style="width:70%;">
	<div class="row" style="margin-top: 30px;">
		<div class="col-md-9 well" style="height: 500px" id="chat">
			<!-- Chat goes here -->
		</div>

		<div class="col-md-2 col-md-offset-1 well" id="lobbyUserList">
			<!-- User list goes here -->
		</div>
	</div>
	<div class="row">
        <div class="col-md-9 well">
    		<input 
                type="text" 
                id="new_message" 
                onkeydown="if (event.keyCode == 13) sendMessage();" 
                style="width: 80%;" 
                >
            <button type="button" class="btn btn-primary btn-sm"onclick="sendMessage()">send</button>
        </div>
	</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect("");

$(document).ready(function() {
    socket.emit('join_room', {room: 'lobby'});
});

socket.on('update_user_list', update_user_list);
socket.on('dispatch_to_game', join_game);


// you are being challenged by another user
socket.on('send_challenge', function(data) {
    var challenger = data.challenger;
    console.log("You are being challenged by: " + challenger);
});

function respond_to_challenge(name, response) {
    socket.emit('respond_challenge', {response: response, challenger: name});
}

function challenge_user(name) {
    socket.emit('request_challenge', { challengee: name });
}

socket.on('challenge_response', function(data) {
    var response = data.status;
    var message = data.message;
    console.log("response to your challenge:" + response + " message: " + message);
});


function join_game(data) {
    // redirect the user to their game room
    window.location.replace("/play/" + data.hash);
}



function update_user_list(data) {
    console.log(data);
    $('#lobbyUserList').html(" ");

    for (var i=0; i < data.users.length; i++) {
    	// var user = "User"+i+"<br>";
    	var user = $("<button>", {class:"btn btn-default challenge", type:"button"})
    				.attr("data-container", "body")
    				.attr("data-toggle", "popover")
    				.attr("data-placement", "left")
    				.attr("data-content", "Challenge " + data.users[i])
    				.append(data.users[i]);

    	$('#lobbyUserList').append(user);
        $('#lobbyUserList').scrollTop($('#lobbyUserList')[0].scrollHeight);
    }
    $('.challenge').popover();
}


</script>
<script src='/javascripts/chat.js'></script>
