<div class="container-fluid" style="width:70%;">
	<div class="row" style="margin-top: 30px;">
		<div class="col-md-9 well" style="height: 500px" id="chat">
			<!-- Chat goes here -->
		</div>

		<div class="col-md-2 col-md-offset-1 well" id="lobbyUserList">
			<!-- User list goes here -->
		</div>
	</div>
	<div class="row">
        <div class="col-md-9 well">
    		<input 
                type="text" 
                id="new_message" 
                onkeydown="if (event.keyCode == 13) sendMessage();" 
                style="width: 80%;" 
                >
            <button type="button" class="btn btn-primary btn-sm"onclick="sendMessage()">send</button>
        </div>
	</div>
</div>

<div id="challenge_modal" class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    New challenge!
                </h4>
            </div>
            <div class="modal-body">

                
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect("");

$(document).ready(function() {
    socket.emit('join_room', {room: 'lobby'});
});

socket.on('update_user_list', update_user_list);
socket.on('dispatch_to_game', join_game);


// you are being challenged by another user
socket.on('send_challenge', function(data) {
    var challenger = data.challenger;
    $('#challenge_modal .modal-body').html("You have been challenged by " + challenger + "<br><br><br><button class='btn btn-success' onclick='respond_to_challenge(\"" + challenger + "\", true)'>Accept</button> " + 
        "<button class='btn btn-danger' onclick='respond_to_challenge(\"" + challenger + "\", false)'>Decline</button> ");
    $('#challenge_modal').modal('show');
    console.log("You are being challenged by: " + challenger);
});

function respond_to_challenge(name, response) {
    socket.emit('respond_challenge', {response: response, challenger: name});
    $('#challenge_modal').modal('hide');
}

function challenge_user(name) {
    socket.emit('request_challenge', { challengee: name });
}

socket.on('challenge_response', function(data) {
    var response = data.status;
    var message = data.message;
    console.log("response to your challenge:" + response + " message: " + message);
});


function join_game(data) {
    // redirect the user to their game room
    window.location.replace("/play/" + data.hash);
}

function update_user_list(data) {
    console.log(data);
    $('#lobbyUserList').html(" ");

    for (var i=0; i < data.users.length; i++) {
    	// var user = "User"+i+"<br>";
    	var user = $("<button>", {class:"btn btn-default challenge", type:"button"})
    				.attr("data-container", "body")
    				.attr("data-toggle", "popover")
    				.attr("data-placement", "left")
    				.attr("data-content", "Challenge <a href='#' onclick='challenge_user(\"" + data.users[i] + "\");'>" + data.users[i] + "</a>")
    				.append(data.users[i]);

    	$('#lobbyUserList').append(user);
        $('#lobbyUserList').scrollTop($('#lobbyUserList')[0].scrollHeight);
    }
    $('.challenge').popover({html:true, trigger:'hover', delay: {hide:1500}});

}


</script>
<script src='/javascripts/chat.js'></script>
