<div class="container-fluid" style="width:70%;">
	<div class="row" style="margin-top: 30px;">
		<div class="col-md-9 well" style="height: 500px" id="chat">
			<!-- Chat goes here -->
		</div>

		<div class="col-md-2 col-md-offset-1 well" id="lobbyUserList">
			<!-- User list goes here -->
		</div>
	</div>
	<div class="row">
        <div class="col-md-9 well">
    		<input 
                type="text" 
                id="new_message" 
                onkeydown="if (event.keyCode == 13) sendMessage();" 
                style="width: 80%;" 
                >
            <button type="button" class="btn btn-primary btn-sm"onclick="sendMessage()">send</button>
        </div>
	</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect("");

$(document).ready(function() {
    socket.emit('join_room', {room: 'lobby'});
});

for (var i=0; i<20; i++) {
	// var user = "User"+i+"<br>";
	var user = $("<button>", {class:"btn btn-default challenge", type:"button"})
				.attr("data-container", "body")
				.attr("data-toggle", "popover")
				.attr("data-placement", "left")
				.attr("data-content", "Challenge User")
				.append("User"+i);

	$('#lobbyUserList').append(user);
    $('#lobbyUserList').scrollTop($('#lobbyUserList')[0].scrollHeight);
}
$('.challenge').popover();

</script>
<script src='/javascripts/chat.js'></script>
