<h1>Game Room</h1>
<p>We will have the js in the wait room redirect people here</p>

<input type="number" id="dim"> 
<button onclick="generate_board(document.getElementById('dim').value)">Generate</button>


<!-- Put the html for the game-board here :-->
<div id="board">
</div>

<script type="text/javascript">

	// generates the visual board in html
	function generate_board(dim) {
		var current_id = 0;

		for(var i = 0; i < dim; i++) {
			// This is the div to hold the row of spacers and walls
			var $wall_row = $("<div>", {class: "row row-walls"});

			for (var j = 0; j < dim; j++) {
				if (i === 0) {
					// if it's the very first row, then these need to be all red
					$($wall_row).append($("<div>", {class: "spacer"}), $("<div>", {class: "wall wall-horizontal red"}));
				} else {
					// otherwise the walls are grey, are assigned an ID, and get the function attached if they are clicked
					var wall = $("<div>", {class: "wall wall-horizontal", id: current_id}).click(toggle);
					$($wall_row).append($("<div>", {class: "spacer"}), wall);
					current_id++;
				}
			}
			// final spacer is added
			$($wall_row).append($("<div>", {class: "spacer"}));

			// This is the div to hold the row of walls and squares
			var $wall_square = $("<div>", {class: "row row-squares"});

			for (var j = 0; j < dim; j++) {
				if (j === 0) {
					// The far left wall needs to be perma red
					$($wall_square).append($("<div>", {class: "wall wall-vertical red"}), $("<div>", {class: "square"}));
				} else {
					// Otherwise walls need to be grey, assigned an ID, and get the fucntion attached if they are clicked
					var $wall = $("<div>", {class: "wall wall-vertical", id: current_id}).click(toggle);
					$($wall_square).append($wall, $("<div>", {class: "square"}));
					current_id++;
				}
			}
			// final wall, it's perma red and non-clickable
			$($wall_square).append($("<div>", {class: "wall wall-vertical red"}));

			// add the two rows to the board
			$("#board").append($wall_row, $wall_square)
		}

		// final row of spacers and walls here, identical to the very first row
		var $final_row = $("<div>", {class: "row row-walls"});
		for(var i = 0; i < dim; i++) {
			$($final_row).append($("<div>", {class: "spacer"}), $("<div>", {class: "wall wall-horizontal red"}));
		}
		$($final_row).append($("<div>", {class: "spacer"}));
		$("#board").append($final_row);
	}

	// This function will handle all the clicks on the HTML elements
	function toggle(event) {
		var target = event.currentTarget;
		if ($(target).hasClass("red")) {
			$(target).removeClass("red");
		} else {
			$(target).addClass("red");
		}

		var id = $(target).attr("id")
		console.log(id);
	}

	function Square(id) {

		// This holds the references to it's neighbors, we're going to start
		// with this not sorted in any way
		this.neighbors = new Array();
		var exit = false;
		var start = false;

		// Creates an edge
		this.addNeighbor = function(neighbor) {
			this.neighbors.push(neighbor);
		}

		// Removes the edges, after checking if it exists
		this.removeNeighbor = function(neighbor) {
			var index = this.neighbors.indexOf(neighbor);
			if (index > -1) this.neighbors.splice(index, 1);
		}

		// Returns true if there is an edge, false otherwise
		this.hasEdge = function(otherSquare) {
			return (this.neighbors.indexOf(otherSquare) > -1);
		}

		// Simple getter for the ID
		this.getId = function() {
			return id;
		}

		this.toggleExit = function() {
			exit = !exit;
		}

		this.toggleStart = function() {
			start = !start;
		}

		this.isExit = function() {
			return exit;
		}

		this.isStart = function() {
			return start;
		}
	}

	function Maze(size) {
		// Maze object

		// Size refers to the how tall/wide it will be. I'm just going to assume
		// it will be a square for now

		var squares = new Array(size*size);
		var current;
		var start, exit;

		// First, create each square object
		for (var i = 0; i < size*size; i++) {
			squares[i] = new Square(i);

			// Defaults for start and end square.
			if (i === 0) {
				squares[i].toggleStart();
				start = squares[i];
			}
			if (i === size-1) {
				squares[i].toggleExit();
				exit = squares[i];
			}
		}

		// Now we go through and set up the initial edges
		// Since each square starts off adjacent to each square 
		for (var i = 0; i < size*size; i++) {

			// Check if the edge is on the right edge, as they don't have a friend to
			// their right if so
			if ((i+1) % size !== 0) {
				squares[i].addNeighbor(squares[i+1]);
				squares[i+1].addNeighbor(squares[i]);
			}

			// Check if the edge is on the bottom edge
			if (i < (size*size) - size) {
				squares[i].addNeighbor(squares[i+size]);
				squares[i+size].addNeighbor(squares[i]);
			}
		}

		this.verify = function() {
			var visited = new Array();
			for (var i = 0; i < size*size; i++) {
				visited[i] = false;
			}

			var stack = new Array();
			stack.push(start);

			while (stack.length > 0) {
				var current = stack.pop();
				visited[current.getId()] = true;

				if (current === exit) {
					return true;
				}
				
				for (var i = 0; i < current.neighbors.length; i++) {
					if (!visited[current.neighbors[i].getId()]) {
						stack.push(current.neighbors[i].getId());
					}
				}
			}

			return false;
		}

	}
</script>


