<h1>Game Room</h1>

<div id='announcements'>Waiting on other player to join</div>

<div id="board"></div>
<button id="ready_btn">I'm Ready!</button>



<script type="text/javascript">
    function toggle_ready_button(state) {
        if(state) {
            $('#ready_btn').removeAttr('disabled');
        } else {
            $('#ready_btn').attr('disabled', 'disabled');
        }
    }

</script>
<script src='/javascripts/maze.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect("");
    socket.emit('join_room', {room: '<%= room %>'});

    socket.on('disconnect', go_home);
    socket.on('start_create_maze_phase', function(data) {
        generate_board(data['maze_dim']);
        $('#announcements').html("Build your maze, and click 'I'm ready', when you're done!");
    });

    $('#ready_btn').on('click', function() {
        // validate maze on server side
        // if it has been validated, we can emit 'player_ready'
        socket.emit('player_ready', 
            {   name: "<%= name %>", 
                room: "<%= room %>", 
                edge_map: edge_map, 
                true_connections: connections,
                start: maze.getStartId(),
                end: maze.getEndId()  
            }
        );
    });

    socket.on('waiting_on_other_player', function() {
        $('#ready_btn').html('waiting on the other player!');
        $('#ready_btn').attr('disabled', 'disabled');
        $('#announcements').html('waiting on the other player...');
    });

    socket.on('start_play_phase', function(data) {
        $('#announcements').html("Play phase started!");
    });


    function go_home(data) {
        window.location.replace("/");
    }
</script>