<h1>Game Room</h1>
<p>We will have the js in the wait room redirect people here</p>

<input type="number" id="dim"> 
<button onclick="generate_board(document.getElementById('dim').value)">Generate</button>


<!-- Put the html for the game-board here :-->
<div id="board">
</div>

<script type="text/javascript">
// put the js to manipulate the board here

// generates the visual board in html
	function generate_board(dim) {
	    var square = '<div class="square"></div>';
	    var wall_h = '<div onclick="toggle(this)" class="wall wall-horizontal"></div>';
	    var wall_h_red = '<div class="wall wall-horizontal red"></div>';
	    var wall_v = '<div onclick="toggle(this)" class="wall wall-vertical"></div>';
	    var wall_v_red = '<div class="wall wall-vertical red"></div>';
	    var spacer = '<div class="spacer"></div>';

	    var board = '';

	    for(var i = 0; i < dim; i++) {
	        var row = '';
	    
	        // row of walls
	        for(var j = 0; j < dim; j++) {
	        	if (i === 0) {
	        		row += spacer + wall_h_red;
	        	} else {
	        		row += spacer + wall_h;
	        	}
	            
	        }
	        row += spacer;
	        board += '<div class="row row-walls">' + row + '</div>';
	    

	        row = '';
	        // row of squares
	        for(var j = 0; j < dim; j++) {
	        	if (j === 0) {
	        		row += wall_v_red + square;
	        	} else {
	        		row += wall_v + square;
	        	}   
	        }
	        
	        row += wall_v_red;
	        board += '<div class="row row-squares">' + row + '</div>';
	        
	    }

	    var row = '';
	    
	    // row of walls
	    for(var j = 0; j < dim; j++) {
	        row += spacer + wall_h_red;
	    }
	    row += spacer;
	    board += '<div class="row row-walls">' + row + '</div>';

	    document.getElementById('board').innerHTML = board;
	}

	function toggle(obj) {
		if ($(obj).hasClass("red")) {
			$(obj).removeClass("red");
		} else {
			$(obj).addClass("red");
		}
	}


	function Square(id) {

		// This holds the references to it's neighbors, we're going to start
		// with this not sorted in any way
		this.neighbors = new Array();
		var exit = false;
		var start = false;

		// Creates an edge
		this.addNeighbor = function(neighbor) {
			this.neighbors.push(neighbor);
		}

		// Removes the edges, after checking if it exists
		this.removeNeighbor = function(neighbor) {
			var index = this.neighbors.indexOf(neighbor);
			if (index > -1) this.neighbors.splice(index, 1);
		}

		// Returns true if there is an edge, false otherwise
		this.hasEdge = function(otherSquare) {
			return (this.neighbors.indexOf(otherSquare) > -1);
		}

		// Simple getter for the ID
		this.getId = function() {
			return id;
		}

		this.toggleExit = function() {
			exit = !exit;
		}

		this.toggleStart = function() {
			start = !start;
		}

		this.isExit = function() {
			return exit;
		}

		this.isStart = function() {
			return start;
		}
	}

	function Maze(size) {
		// Maze object

		// Size refers to the how tall/wide it will be. I'm just going to assume
		// it will be a square for now

		var squares = new Array(size*size);
		var current;
		var start, exit;

		// First, create each square object
		for (var i = 0; i < size*size; i++) {
			squares[i] = new Square(i);

			// Defaults for start and end square.
			if (i === 0) {
				squares[i].toggleStart();
				start = squares[i];
			}
			if (i === size-1) {
				squares[i].toggleExit();
				exit = squares[i];
			}
		}

		// Now we go through and set up the initial edges
		// Since each square starts off adjacent to each square 
		for (var i = 0; i < size*size; i++) {

			// Check if the edge is on the right edge, as they don't have a friend to
			// their right if so
			if ((i+1) % size !== 0) {
				squares[i].addNeighbor(squares[i+1]);
				squares[i+1].addNeighbor(squares[i]);
			}

			// Check if the edge is on the bottom edge
			if (i < (size*size) - size) {
				squares[i].addNeighbor(squares[i+size]);
				squares[i+size].addNeighbor(squares[i]);
			}
		}

		this.verify = function() {
			var visited = new Array();
			for (var i = 0; i < size*size; i++) {
				visited[i] = false;
			}

			var stack = new Array();
			stack.push(start);

			while (stack.length > 0) {
				var current = stack.pop();
				visited[current.getId()] = true;

				if (current === exit) {
					return true;
				}
				
				for (var i = 0; i < current.neighbors.length; i++) {
					if (!visited[current.neighbors[i].getId()]) {
						stack.push(current.neighbors[i].getId());
					}
				}
			}

			return false;
		}

	}
</script>


