<h1>Game Room</h1>
<p>We will have the js in the wait room redirect people here

<!-- Put the html for the game-board here :-->






<script type="text/javascript">
// put the js to manipulate the board here


</script>