<h1>Game Room</h1>

<div id='announcements'>Waiting on other player to join</div>

<div class='container'>
    <div class='row'>
        <div class='col-xs-4 col-xs-4'>
            <!--  -->
            <div id="board"></div>
        </div>
        <div class='col-xs-4 col-xs-4'>
            <button id="ready_btn">I'm Ready!</button>
            <!--  -->
            <div id="opp_board"></div>
        </div>
    </div>

    </br>

    <div class='row'>
        <div class='col-xs-4 col-xs-4'>
            <div id="chat"></div><br>
            <input type="text" id="new_message" onkeydown="if (event.keyCode == 13) sendMessage();">
            <button onclick="sendMessage()">send</button>
        </div>

        <div class='col-xs-4 col-xs-4'>
            <textarea id="log" style="resize:none" data-role="none" cols="40" rows="5" readonly></textarea>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="theModalTitle">
                    <!-- Title text gets put here -->
                </h4>
            </div>
            <div class="modal-body" id="theModalBody">
                <!-- Body text gets put here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggle_ready_button(state) {
        if(state) {
            $('#ready_btn').removeAttr('disabled');
        } else {
            $('#ready_btn').attr('disabled', 'disabled');
        }
    };

    $('#ready_btn').on('click', function() {
        // validate maze on server side
        // if it has been validated, we can emit 'player_ready'
        socket.emit('player_ready',
            {   name: "<%= name %>",
                room: "<%= room %>",
                edge_map: edge_map,
                true_connections: connections,
                start: maze.getStartId(),
                end: maze.getEndId()
            }
        );
    });
</script>
<script src='/javascripts/maze.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src='/javascripts/play.js'></script>
