<h1>Welcome, <%= name %></h1>
<p>Please wait while we find you an opponent</p>

<div>
    You can test this out by opening two or more tabs in the browser
    <br>
    Total Users waiting: <span id="total_users">0</span>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect("");

    // this is the client side, here we can now listen for events like so:
    // socket.on('event', callfunction);
    // or emit events to the server like so:
    // socket.emit('event', js_object_with_data);

    // e.g. every time a new user joins/leaves the waiting room, 
    // we update the total of users in here
    $(document).ready(function() {
        socket.emit('join_room', {room: 'waiting'});
    });

    socket.on('update_total', display_total);
    socket.on('dispatch_to_game', join_game);
    socket.on('disconnect', go_home);

    function display_total(data) {
        document.getElementById('total_users').innerHTML = data.count; 
    }

    function join_game(data) {
        // redirect the user to their game room
        window.location.replace("/play/" + data.hash);
    }

    function go_home(data) {
        window.location.replace("/");
    }

</script>