<html>
<head>
</head>
<body>

<h3> Change email </h3>

<form action="/changeEmail" method="post">

	new email: <input type="text" name="email" size="30"><br>
	<input type="submit" value="change email"><br>

</form>

</body>
</html>

