<script>
function validateForm()
{

var newPassword=document.forms["changePassword"]["newPassword"].value;
var verifyNewPassword=document.forms["changePassword"]["verifyNewPassword"].value;

if(newPassword != verifyNewPassword){
	alert("Password fields do not match");
	return false;
}

return true; 
  
}
</script>

<h3> Change password </h3>
<h3 style="color:red"><%= errorMessage %></h3>
<form name="changePassword" action="/changePassword" onsubmit="return validateForm()" method="post">

	old password: <input type="password" name="oldPassword" size="15"><br>
	new password: <input type="password" name="newPassword" size="15"><br>
	verify new password: <input type="password" name="verifyNewPassword" size="15"><br>
	<input type="submit" value="change password"><br>

</form>