<h1>Pathfinder</h1>
<h3>Reset password</h3>

<h3 style="color:red"><%= errorMessage %></h3>

<form action="/emailpassword" method="post">

    username: <input type="text" name="name" size="15"><br>
    <input type="submit" value="send email"><br>

</form>