<script>
function validateForm()
{
var username=document.forms["emailPassword"]["name"].value;

var patt=/^[-\w\.\$@\*\!]{1,30}$/;
if(!patt.test(username)){
	alert("Not a valid username");
	return false;
}

return true; 
  
}
</script>

<h1>Pathfinder</h1>
<h3>Reset password</h3>

<h3 style="color:red"><%= errorMessage %></h3>

<form name="emailPassword" action="/emailpassword" onsubmit="return validateForm()" method="post">

    username: <input type="text" name="name" size="15"><br>
    <input type="submit" value="send email"><br>

</form>