<div class=WordSection1>
<br>
<p class=MsoNormal style='margin-left:.5in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:20.0pt;line-height:107%'>How to Play<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:.5in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt;line-height:107%'>Operational Description:
</span></b><span style='font-size:12.0pt;line-height:107%'>Pathfinder is a very
fun and easy to play online maze game where users compete with one another. When
two players find one another, the construct phase begins. <br><br>Each player constructs a maze that the other
player must navigate through. When the mazes are complete, the game begins!
Turn by turn each player tries to move through the maze they were given, trying
to find the end before their opponent does. Whoever solves their maze first
wins! Whose maze will be harder to traverse through? Who has got what it takes
to come out on top? Find out now by playing <span class=SpellE>PathFinder</span>!<o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:1.0in;mso-add-space:auto'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'><o:p>&nbsp;</o:p></span></b></p>
<center>
<p class=MsoListParagraphCxSpLast style='margin-left:1.0in;mso-add-space:auto'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'>The Game Board</span></b><span style='font-size:12.0pt;line-height:107%'>
<br>This is the primary component of the game, and is where all moves will take
place.<o:p></o:p></span></p>
</center>

<p class=MsoNormal style='margin-left:.5in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal align=center style='margin-left:.5in;text-align:center'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%;mso-no-proof:yes'><img width=300 height=300
src="images/image001.png" v:shapes="Picture_x0020_6"></span></b><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'><o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='margin-left:.5in;text-align:center'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal align=center style='margin-left:.5in;text-align:center'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:1.0in;mso-add-space:auto'><img width=50 height=50
src="images/image002.png" align=left hspace=12 v:shapes="Picture_x0020_7"><span
style='font-size:12.0pt;line-height:107%'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
line-height:107%'>START</span></b><span style='font-size:12.0pt;line-height:
107%'>: This is where you and your opponent will <b style='mso-bidi-font-weight:
normal'>start</b>. Either player can place this piece on any square on the
board, except where the <b style='mso-bidi-font-weight:normal'>finish</b>
square is located. Clicking on the square once removes it, and clicking on
another square places it. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:1.0in;mso-add-space:auto'><span
style='font-size:12.0pt;line-height:107%'><br clear=all>
</span><img width=50 height=50
src="images/image004.png" align=left hspace=12 v:shapes="Picture_x0020_8"><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'>FINISH</span></b><span style='font-size:12.0pt;line-height:107%'>: This
is where you and your opponent will <b style='mso-bidi-font-weight:normal'>finish</b>.
Either player can place this piece on any square on the board, except where <b
style='mso-bidi-font-weight:normal'>start</b> the square is located. Clicking
on the square once removes it, and clicking on another square places it.
Whoever reaches this first wins the game. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><img width=50 height=50
src="images/image006.png" align=left hspace=12 v:shapes="Picture_x0020_9"><span
style='font-size:12.0pt;line-height:107%'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:1.0in;mso-add-space:auto'><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'>PLAYER: </span></b><span style='font-size:12.0pt;line-height:107%'>This
is the player piece which represents each player. Where this piece is
represents where the player is in the maze. Remember, the right maze is the one
you are working on, the left maze is the one your opponent is trying to go
through. <o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'>
<img width=50 height=50
src="images/image008.jpg" align=left hspace=12 v:shapes="Picture_x0020_10">
<span
style='font-size:12.0pt;line-height:107%'><o:p></o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
line-height:107%'>MOVE ATTEMPT</span></b><span style='font-size:12.0pt;
line-height:107%'>: This represents the square you wish to move to in the maze
you are solving. Only an adjacent square to the <b style='mso-bidi-font-weight:
normal'>player </b>may be selected. After submitting your move, you will see if
your <b style='mso-bidi-font-weight:normal'>player </b>piece moved to that
location or could not because of a <b style='mso-bidi-font-weight:normal'>wall<o:p></o:p></b></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><img width=20 height=65
src="images/image010.jpg" align=left hspace=12 v:shapes="Picture_x0020_11"><b
style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;line-height:
107%'><o:p></o:p></span></b></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><span style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;mso-add-space:
auto'><b style='mso-bidi-font-weight:normal'><span style='font-size:12.0pt;
line-height:107%'>WALL</span></b><span style='font-size:12.0pt;line-height:
107%'>: This piece represents a wall, somewhere the <b style='mso-bidi-font-weight:
normal'>player </b>cannot pass through. These are placed between squares in the
construct phase of the game, and are carefully placed to make a maze.<o:p></o:p></span></p>

<br>
<br>

<p class=MsoNormal style='margin-left:1.0in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt;line-height:107%'>Phase 1: Construct<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'>Both players build a maze, setting the start and end location
as well as adding their walls. Once you have completed your maze, select the
"Submit" button and wait for opponent to respond. Game will enter play stage
Note: If your maze is impossible to solve, you will not be able to submit it! Chat
is enabled here and onward. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt;line-height:107%'>Phase 2: Play<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'>The first turn goes to a random player, and the game begins.
Where your opponent is in respect to your built maze is on the left hand side.
The maze you are trying to solve is on is on the right, and your position is
displayed. Select your move and press submit. Regardless of the outcome, the
turn passes to the other player. If you move successfully a message will be
displayed, and your position will change. If you move into a wall, your
position does not change, and the wall is permanently displayed on your board. This
back and forth continues until someone reaches the finish first. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><b style='mso-bidi-font-weight:
normal'><span style='font-size:12.0pt;line-height:107%'>Phase 3: Game Close and
How to win<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'>When a player reaches finish before the other, a win message
is displayed for both players declaring the turn player the winner! Wins and
losses are updated respectively and players can navigate where they want to
after this. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-left:1.0in'><span style='font-size:12.0pt;
line-height:107%'>Please see the quick video for a preview of gameplay! <o:p></o:p></span></p>

<p class=MsoListParagraph style='margin-left:1.0in;mso-add-space:auto'><span
style='font-size:12.0pt;line-height:107%'><o:p>&nbsp;</o:p></span></p>

</div>
<center>
<iframe width="560" height="315" src="//www.youtube.com/embed/pNrE3L6XBkA" frameborder="0" allowfullscreen></iframe>
</center>
