<div class="jumbotron">
	<div class="container">
		<!-- <h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
		<!-- <img src="/media/pathfinder.png"> -->
	</div>	
</div>

<form action="/ready" method="post">
    <input type="text" name="name">
    <input type="submit" value="I'm Ready!"/>
</form>