
<div class="jumbotron">
	<div class="container">

<!-- 		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p> -->
		<img class="img-responsive" src="/media/pathfinder.png">
	</div>	
</div>
