<!DOCTYPE html>
<html>
    <head>
        <title>Pathfinder</title>
		<script src='jquery-2.1.0.min.js' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <%- body %>
    </body>
</html>