<h1>Welcome back <%= name %>! </h1>
<h3> Wins: <%= wins %></h3>
<h3> Losses: <%= losses %> </h3>
<h3 style="color:blue"><%= infoMessage %></h3>
<form action="/ready" method="get">
	<input type="submit" value="Find an Opponent">
</form>

<br>

<a href="/logout"> Logout </a>

<br><br>

<a href="/changeEmail"> Change email address </a><br>
<a href="/changePassword"> Change password </a><br>
