<h1>Welcome back <%= name %>! </h1>
<h3> Wins: <%= wins %></h3>
<h3> Losses: <%= losses %> </h3>
<h3 style="color:blue"><%= infoMessage %></h3>

<a href="/ready" class="btn btn-success">Find an Opponent</a>
<a href="/lobby" class="btn btn-success">Join Lobby</a>

<br><br>

