body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row.row-walls {
    height: 20px;
}

.row.row-squares {
    height: 50px;
}

.square {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.square:not(.start):not(.end):not(.current):not(.selected) {
    background-image: url(/images/Square.jpg);
}

.wall {
    background-color: #7f8c8d;
    display: inline-block;
}

.wall.wall-horizontal {
    width: 50px;
    height: 20px;
}

.wall.wall-vertical {
    width: 20px;
    height: 50px;
}

.wall.wall-horizontal.red {
    background-image: url(/images/WallHor.png);
    width: 50px;
    height: 20px;
}

.wall.wall-vertical.red {
    background-image: url(/images/WallVert.png);
    width: 20px;
    height: 50px;
}

.spacer {
    width: 20px;
    height: 20px;
    display: inline-block;

    background-image: url(/images/WallVert.png);
}

.red {
    background-color: #e74c3c;
}

.selected {
    background-color: Black;
}

.current {
    background-color: White;
    !important;
}

.start {
    background-color: Green;
}

.end {
    background-color: Gold;
}

#chat {
  border: 1px solid #7d7d7d;
  overflow: scroll;
  padding: 5px;
}

#log {
    border: 1px solid #7d7d7d;
    width: 350px;
    height: 75px;
    overflow: scroll;
    margin-top: 30px;
    padding: 5px;
}

#lobbyUserList {
  height: 500px;
  overflow: scroll;
}
