body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row.row-walls {
    height: 20px;
}

.row.row-squares {
    height: 50px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #2980b9;
    display: inline-block;
}

.wall {
    background-color: #7f8c8d;
    display: inline-block;
}

.wall.wall-horizontal {
    width: 50px;
    height: 20px;
}

.wall.wall-vertical {
    width: 20px;
    height: 50px;
}

.spacer {
    width: 20px;
    height: 20px;
    display: inline-block;

    background-color: #e74c3c;
}

.red {
    background-color: #e74c3c;
}

.hidden {
    background-color: Gray;
}

.selected {
    background-color: Black;
}

.current {
    background-color: White;
}

.start {
    background-color: Green;
}

.end {
    background-color: Gold;
}